<div ng-controller="SelectDemoCust"  class="bar bar-subheader" ng-if="offlCtrl.isOffline() || offlCtrl.isDemoMode()">
	<h2 class="title">
		<span id='isOffline' ng-if="offlCtrl.isOffline()">{{'you_are_offline'| translate}}</span>
		<span id='-' ng-if="offlCtrl.isOffline() && offlCtrl.isDemoMode()"> - </span>
		<span id='isDemoMode' ng-if="offlCtrl.isDemoMode()" class="demo-title">{{'demo_mode'| translate}}</span>
	</h2>
	<div ng-if="offlCtrl.isDemoMode()" class="customerDemo">
		<label class="rightMenu">
			<ion-toggle id="wifi" ng-change="toggleWiFi()"  ng-model="wifi.checked" checked="false" class="rightMenuArrow">
			</ion-toggle>
		</label>
	</div>
</div>
