.centered-box {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.small-img {
	max-width: 100%;
	max-height: 10em;
	margin: 0 auto;
	text-align: center;
}
.large-icon {
	font-size: 8em;
	color: $lightgreen;
}
.cashier-pref {
	i {
		font-size: 26px;
		margin-right: 10px;
		color: $mediumgray;
	}
	margin: 0;
	padding: .1em .2em;
}
.cashier-pref-selected {
	i {
		color: $mediumgreen;
	}
}
.pref-subtitle {
	font-size: 1.6em;
	white-space: normal;
}
.bar{
	text-align: left;
}
.transaction-description-menu{
	right: 0;
	float: right;
	position: absolute;
	padding: .33em 1em .33em .25em;
	width: 75%;
	font-weight: 900;
}
transaction-description-menu-label{
	font: 400 13.3333px Arial;
	color: red;
}
.chargeBtn {
    position: absolute !important;
    bottom: 0 !important;
    display: table-cell;
}
#_label-0{
	font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.42857;
	color: black;
}
.item-select:after{
	position: relative;
	display: none;
}
.downSymbol{
	font-weight: 900;
	writing-mode: vertical-lr;
	font-size: 2em;
}
#selectCategory:first-child{
	content: '<span class="downSymbol">&#8227;</span>';
		text-align: left;
}
#selectCategory > option:selected{
	text-align: left;
}
.input-label{
		text-align: left;
}
.permissions{
	word-wrap: normal;
	width: 98%;
	text-align: center;
}
.rc{
	margin: 0;
	padding: 0;
}
button.primary{
	height: 2rem;
}