.rc.home {
  .company {
    font-size: 300%;
  }
  .user{
	  font-size: 1.8em;
  }
  .rc-logo {
    margin: 3.5% auto;
  }
  .scan-customer{
	  font-size: 2em;
  }
  .homeLogo{
	  width: 50%;
	  height: 50%;
  }
  .button:after{
	  bottom: 2px;
  }
}
